<ion-app>
  @if (toolbarConfig.showBack || toolbarConfig.showSearch) {
    <app-toolbar 
      class="global-toolbar"
      [showBack]="toolbarConfig.showBack"
      [showSearch]="toolbarConfig.showSearch"
      [searchPlaceholder]="getSearchPlaceholder()"
      [currentLocation]="currentLocation"
      (back)="onBack()"
      (searchSubmit)="onSearchSubmit($event)">
    </app-toolbar>
  }

  <ion-router-outlet id="main-content"></ion-router-outlet>

  @if (shouldShowTabs) {
    <app-tabs></app-tabs>
  }
</ion-app>