<ion-header class="transparent-header"></ion-header>

<ion-content [fullscreen]="true" class="bg">
  <div class="background-image"></div>
  <div class="background-gradient"></div>
  
  <div class="logo-container">
    <div class="logo-wrapper">
      <img src="assets/icon/logo.png" alt="SpotGuide logo" class="logo" />
    </div>
    <h1 class="title animated-title">SpotGuide</h1>
  </div>

  @if (isLoggedIn) {
    <div class="button-group">
      <app-custom-button
        text="Ver puntos"
        variant="primary"
        size="large"
        (buttonClick)="navigateTo('/pois')">
      </app-custom-button>
      
      <app-custom-button
        text="Generar rutas"
        variant="secondary"
        size="large"
        (buttonClick)="navigateTo('/generate-route')">
      </app-custom-button>
    </div>
  } @else {
    <div class="button-group">
      <app-custom-button
        text="Registrarse"
        variant="primary"
        size="large"
        (buttonClick)="navigateTo('/register')">
      </app-custom-button>
      
      <app-custom-button
        text="Iniciar sesión"
        variant="secondary"
        size="large"
        (buttonClick)="navigateTo('/login')">
      </app-custom-button>
      
      <app-custom-button
        text="Ver puntos"
        variant="tertiary"
        size="large"
        (buttonClick)="navigateTo('/pois')">
      </app-custom-button>
    </div>
  }
</ion-content>