<ion-header class="transparent-header"></ion-header>

<ion-content [fullscreen]="true" class="bg">
  <div class="background-image"></div>
  <div class="background-gradient"></div>
  
  <div class="logo-container">
    <div class="logo-wrapper">
      <img src="assets/icon/logo.png" alt="SpotGuide logo" class="logo" />
    </div>
    <h1 class="title animated-title">SpotGuide</h1>
  </div>

  @if (isLoggedIn) {
    <div class="button-group">
      <ion-button expand="block" class="custom-button primary-btn" (click)="navigateTo('/pois')">
        Ver puntos
      </ion-button>
      <ion-button expand="block" class="custom-button secondary-btn" (click)="navigateTo('/generate-route')">
        Generar rutas
      </ion-button>
    </div>
  } @else {
    <div class="button-group">
      <ion-button expand="block" class="custom-button primary-btn" (click)="navigateTo('/register')">
        Registrarse
      </ion-button>
      <ion-button expand="block" class="custom-button secondary-btn" (click)="navigateTo('/login')">
        Iniciar sesión
      </ion-button>
      <ion-button expand="block" class="custom-button tertiary-btn" (click)="navigateTo('/pois')">
        Ver puntos
      </ion-button>
    </div>
  }
</ion-content>