<ion-header class="transparent-header"></ion-header>

<ion-content [fullscreen]="true" class="bg">
  <div class="background-image"></div>
  <div class="background-gradient"></div>
  
  <app-toolbar
    [showBack]="true"
    [showSearch]="true"
    (back)="null"
    (searchChange)="null">
  </app-toolbar>

  <div class="logo-container">
    <div class="logo-wrapper">
      <img src="assets/icon/logo.png" alt="SpotGuide logo" class="logo" />
    </div>
    <h1 class="title animated-title">SpotGuide</h1>
  </div>

  <div class="button-group" *ngIf="!isLoggedIn">
    <ion-button expand="block" class="custom-button primary-btn" routerLink="/register">
      Registrarse
    </ion-button>
    <ion-button expand="block" class="custom-button secondary-btn" routerLink="/login">
      Iniciar sesión
    </ion-button>
    <ion-button expand="block" class="custom-button tertiary-btn">
      Ver puntos
    </ion-button>
  </div>

  <div class="button-group" *ngIf="isLoggedIn">
    <ion-button expand="block" class="custom-button primary-btn">
      Ver puntos
    </ion-button>
    <ion-button expand="block" class="custom-button secondary-btn">
      Generar rutas
    </ion-button>
  </div>
</ion-content>