<ion-content [fullscreen]="true" class="login-bg" [scrollY]="false">
  <div class="background-image"></div>
  <div class="background-gradient"></div>
  
  <div class="login-container">
    <!-- Logo -->
    <div class="logo-section">
      <div class="logo-container">
        <img src="assets/icon/logo.png" alt="SpotGuide logo" class="logo" />
      </div>
    </div>

    <!-- Formulario -->
    <form class="login-form" (ngSubmit)="onLogin()" #loginForm="ngForm">
      
      <app-custom-input
        placeholder="Ingresa tu email"
        type="email"
        [required]="true"
        [hasError]="fieldErrors.email.length > 0"
        [errorMessage]="fieldErrors.email[0]"
        [(ngModel)]="loginData.email"
        name="email"
        (inputBlur)="validateField('email')">
      </app-custom-input>

      <app-custom-input
        placeholder="Ingresa tu contraseña"
        type="password"
        [required]="true"
        [hasError]="fieldErrors.password.length > 0"
        [errorMessage]="fieldErrors.password[0]"
        [(ngModel)]="loginData.password"
        name="password"
        (inputBlur)="validateField('password')">
      </app-custom-input>

      <ion-button 
        expand="block" 
        class="login-button"
        type="submit"
        [disabled]="!isFormValid() || isLoading">
        @if (isLoading) {
          <ion-spinner name="crescent" class="spinner"></ion-spinner>
        }
        @if (!isLoading) {
          <span>Iniciar sesión</span>
        }
      </ion-button>
    </form>

    <!-- Link de registro -->
    <div class="register-link">
      <span class="register-text">¿No tienes cuenta? </span>
      <a routerLink="/register" class="register-link-text">Regístrate</a>
    </div>
  </div>
</ion-content>