<div class="toolbar-container">
  @if (showBack) {
    <ion-button fill="clear" class="back-btn" (click)="onBack()">
      <ion-icon class="icon-back" name="arrow-back"></ion-icon>
    </ion-button>  
  }
  
  @if (showSearch) {
    <div class="search-container">
      <div class="search-form">
        <ion-searchbar
          class="custom-searchbar"
          [placeholder]="searchPlaceholder"
          [value]="searchValue"
          (ionInput)="onSearchInput($event)"
          (keyup.enter)="onEnterKeyUp($event)"
          [debounce]="0"
          show-clear-button="focus"
          inputmode="search"
          enterkeyhint="search"
        ></ion-searchbar>
        
        <ion-button 
          type="button"
          fill="clear" 
          class="search-submit-btn"
          [disabled]="!searchValue.trim()"
          (click)="onSearchButtonClick()">
          <ion-icon name="search" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </div>
  }
</div>